body{
	.arrow{
		margin-left:20px;
	}
}
.columnista{
	.portafolio{
		border:2px solid #e2e2e2;
		height:200px;
		margin-left:10px;
		margin-bottom:10px;
			.article{
			margin-bottom:30px;
			}
			.contenedor{
			background-color:#e2e6e9;
			height:85px;
			width:100%;
			padding-top:8px;
			vertical-align:bottom;
			img{
				border:2px solid white;
				width:100%;
				}	
			}
	}
	
}
.columnista{
	h4{font-weight:bold;
		color:black;
		}
	
}
.columnista{
	.titulo{
		color:#667885;
	}
}
.columnista{
	span{
		font-size:12px;
	}
}
.columnista{
	.btn{
		margin:auto;
		background-color:#BA1414;
		color:white;
		margin-left:40%;
	}
}
.text-right{
	text-align:right;
}
.text-left{
	text-align:left;
}
.all{
	.contenedor{
		background-color:#e2e6e9;
		height: 110px;
    	width: 100%;
    	margin-top: 15px;
    	padding-top: 4px;
		.col-md-6{
			img{
				border:2px solid white;
				width:100%;
			}
		}
		.col-md-10{
			h4{
				color:black;
				font-weight:700;
			}
			h5{
				color:#667885;
				font-weight:bold;
			}
		}

	}
}
.all{
	.bloques{
		background-color:#c61a01;
		height:65px;
		padding-top:12px;
		ul{
			list-style:none;
			li{
				margin-left:40px;
				display:inline-block;
				a{
				text-decoration:none;
				color:white;}

			}
			.all{
				background-color:#811101;
				padding:1%;
				border-radius:10px;
			}
		}
	}
}
.columnista{
	.publicidad1{
		background:url(../image/banner-aside-home.jpg) no-repeat center;
		background-size:cover;
		height:500px;
	}
	.publicidad2{
		background:url(../image/banner-aside-home.jpg) no-repeat center;
		background-size:cover;
		height:500px;
	}
}






















