.contact{
	.formulario{
		.float-right{
		float:right;
		padding-right:0;
		padding-top:30px;
		ul{
			list-style:none;
			text-align:right;
			font-size:14px;
			}
		}
		.float-left{
			float:left;
			ul{
				list-style:none;
				text-align:left;
				padding-left:0;
				.fa{
				display:block;
				line-height:18px;
				}
			}
		}
	}
}
.contact{
	input,textarea{
		background-color:#eeeeee;
	}
}
.contact{
	textarea{
		padding-bottom:8%;
	}
}
.enviar{
	background:black;
	color:white;
	padding:1%;
}
.contact{
	.btn{
		margin-bottom:10px;
	}
}
.contact{
	.publicidad1{
		background:url(../image/banner-aside-home.jpg) no-repeat center;
		background-size:cover;
		height:500px;
	}
	.publicidad2{
		background:url(../image/banner-aside-home.jpg) no-repeat center;
		background-size:cover;
		height:500px;
	}
}
