header{
	padding-top: 10px;
	background:#F4F5F7;
	border-bottom: 1px solid grey;
	a{
		fontsize:10px;
	}
	.enlaces{
		li{
			display:inline-block;
			font-size:11px;
			padding-right:3px;

			a{
			text-decoration:none;
			color:#808083;
			}
		}
	}
	.primerafila{
	padding-top: 2%;
	}

.col-md-8{
		ul{
			display:inline-block;
			li{
				a{
					font-size: 16px;
				}
				&:nth-child(1){
					a{
					padding:4px;
					color:white;
					background:#E1464F;
					border-radius:5px;
					font-size:11px;
					text-decoration:none;
					}
				}
				&:nth-child(2){
					a{
					color:#2A65A1;
					}
				}
				&:nth-child(3){
					a{
					color:#4BB7D9;
					}
				}
				&:nth-child(4){
					a{
					color:red;
					}
				}
				&:nth-child(5){
					a{
					color:#FFBF00;
					}
				}
				&:nth-child(6){
					a{
					color:#FD9328;
					}
				}
			}
		}
	form{
		display:inline-block;
		border-left: 1px solid grey;
		border-right: 1px solid grey;
		padding:10px;
		a{
			color:grey;
			font-size:12px;
			text-decoration:none;
		}
		i{
			padding-left: 8px;
		}
	}
  }
 .dos{

 }
}
.navbar{
 	.nav{
 		background:#B91316;
 		font-size:12px;
 		padding:4px 0px;
 		border-radius:5px;
 		border:1px solid red; 
 		li{
 		border-right: 1px solid black;	
 		}
 				
 		a{
 			color:white;
 			text-decoration:none;
 		}
 	}
 	.navdos{
 		width:100%;
 		font-size:13px;
 		background:#E0E5EC;
 		padding:10px;
 		li{
 			a{
 				text-decoration:none;
 				color:grey;
 			}
 		}
 		.fa.fa-circle{
 			font-size:6px;
 			vertical-align:middle;
 			padding-right: 7px;
 		}

 		.temas{
 			padding:11px;
 			background: black;
    		border-radius:5px;
    		padding-left: 10px;
    		margin-left: -15px;
    		li{
    		a{
    			text-decoration:none;
    			color:white;
    		}	
    		}	
 		}
 	}
 }
 .dos{
 	.col-md-6{
 		.nacionalismo{
 			text-align:center;
 			color:#474747;
 			font-weight:bolder; 
 			span{
 				font-size:14px;
 				background:#3D4457;
 				color:white;
 				font-weight:bold;
 				padding:5px;
 				position:absolute;
 				margin-top: -12px;
 				margin-left: -95px;
 			}
 			.league{
 				
 				margin:auto;
 				margin-top: -23px;

 			}
 			h3{
 				font-size:11px;
 				border:1px solid grey ;
 				padding: 28px;
 				color:#3D4457;
 				border-bottom: 2px solid #3D4457;
 				font-weight:bolder;
 			}

 			
 		}
 	}
 	.col-md-5{
 		.gustavo{
 			position:relative;
 			margin-top: -10px;
 			.corrupcion{
 				height:70px;
 				border:1px solid grey;
 				border-radius:12px;
 				text-align:center;
 				margin-top: -69px;
 				h3{
 					color:#474747;
 					font-weight:bolder;
 				}
 			}
 			.logotype{
 				height:72px;
 				position:relative;
 				margin-top: 3px;
 				padding-top: 3px;

 			}
 			h3{
 				font-size:14px;
 			}
 			p{
 				font-size:12px;
 				font-style: Italic;
 			}
 			.author{
 				position:absolute;
 				margin-top: -72px;
 				margin-left: 250px;

 			}
 		}
 	}

 }
 	.banner2{
	width:100%;
	}
 .first{
 	width:100%;
 }