doctype
html
	head
		title La República
		meta( charset="utf-8")
		meta( name="description", content="Baking Bootstrap Snippets with Jade")
		meta(name="viewport" content="with=device-width,initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		link(rel="stylesheet" href="assets/css/dist/bootstrap.min.css")
		link(rel="stylesheet" href="assets/css/dist/bootstrap-theme.min.css")
		link(rel="stylesheet" href="assets/css/dist/slick.css")
		link(rel="stylesheet" href="assets/css/dist/slick-theme.css")
		link(rel="stylesheet" href="assets/css/dist/font-awesome.min.css")
		link(rel="stylesheet" href="assets/css/footer.css")
	body
		footer
			.container
				.row
					.col-md-5
						img(src="assets/image/logo-grupo-la-republica.png")
						h3 Grupo La República Digital
						ul
							li Jr.Camaná 320 Cercado de Lima
							li Teléfono: 711-6000
							li (Central Telefónica)
							li
								small Todos los derechos reservados - 2015
					.col-md-11.contenedor
						.row
							.col-md-4
								li
									ul
										a(href="#") Roger Federer
								li
									ul
										a(href="#") SBS
								li
									ul
										a(href="#") Scarlett Johansson
								li
									ul
										a(href="#") Scotiabank
								li
									ul
										a(href="#") Selena Gómez
								li
									ul
										a(href="#") Spiderman
								li
									ul
										a(href="#") Sporting Cristal
								li
									ul
										a(href="#") Sunat
								li
									ul
										a(href="#") Telefónica del Perú
								li
									ul
										a(href="#") The Walking Dead
								li
									ul
										a(href="#") Twitter
								li
									ul
										a(href="#") Universidad Cesar Vallejo
								li
									ul
										a(href="#") Universidad San Martín
								li
									ul
										a(href="#") Universidad de Deportes
								li
									ul
										a(href="#") Xbox
								li
									ul
										a(href="#") YouTube
								li
									ul
										a(href="#") Bayern Múnich
								li
									ul
										a(href="#") Bayern Múnich
								li
									ul
										a(href="#") BBVA
								li
									ul
										a(href="#") Xbox
								li
									ul
										a(href="#") BCP
							.col-md-4
								li
									ul
										a(href="#") Al fondo hay sitio
								li
									ul
										a(href="#") Alejandro Toledo
								li
									ul
										a(href="#") Alianza Lima
								li
									ul
										a(href="#") Alianza Lima
								li
									ul
										a(href="#") Banco de la Nación
								li
									ul
										a(href="#") Barack Obama
								li
									ul
										a(href="#") Universidad Cesar
								li
									ul
										a(href="#") Vallejo
								li
									ul
										a(href="#") Universidad San Martín
								li
									ul
										a(href="#") Barcelona
								li
									ul
										a(href="#") Bayern Múnich
								li
									ul
										a(href="#") Bayern Múnich
								li
									ul
										a(href="#") BBVA
								li
									ul
										a(href="#") Xbox
								li
									ul
										a(href="#") BCP
								li
									ul
										a(href="#") Batman
								li
									ul
										a(href="#") Bayern Múnich
								li
									ul
										a(href="#") Bayern Múnich
								li
									ul
										a(href="#") BBVA
								li
									ul
										a(href="#") Xbox
								li
									ul
										a(href="#") BCP
							.col-md-4
								li
									ul
										a(href="#") One Direction
								li
									ul
										a(href="#") ONPE
								li
									ul
										a(href="#") Pablo Escobar
								li
									ul
										a(href="#") Paolo Guerrero
								li
									ul
										a(href="#") Pensión 65
								li
									ul
										a(href="#") PNP
								li
									ul
										a(href="#") Precio del dólar
								li
									ul
										a(href="#") Universidad Cesar Vallejo
								li
									ul
										a(href="#") Universidad San Martín
								li
									ul
										a(href="#") Premier League
								li
									ul
										a(href="#") Bayern Múnich
								li
									ul
										a(href="#") Bayern Múnich
								li
									ul
										a(href="#") BBVA
								li
									ul
										a(href="#") Xbox
								li
									ul
										a(href="#") BCP
								li
									ul
										a(href="#") Proyecto Conga
								li
									ul
										a(href="#") PUCP
								li
									ul
										a(href="#") Real Madrid
								li
									ul
										a(href="#") Redes Sociales
								li
									ul
										a(href="#") Reniec
								li
									ul
										a(href="#") Robert Pattinson
							.col-md-4
								li
									ul
										a(href="#") Al fondo hay sitio
								li
									ul
										a(href="#") Alejandro Toledo
								li
									ul
										a(href="#") Alianza Lima
								li
									ul
										a(href="#") Alianza Lima
								li
									ul
										a(href="#") Banco de la Nación
								li
									ul
										a(href="#") Barack Obama
								li
									ul
										a(href="#") Universidad Cesar
								li
									ul
										a(href="#") Vallejo
								li
									ul
										a(href="#") Bayern Múnich
								li
									ul
										a(href="#") Bayern Múnich
								li
									ul
										a(href="#") BBVA 
								li
									ul
										a(href="#") Xbox
								li
									ul
										a(href="#") BCP
								li
									ul
										a(href="#") Universidad San Martín
								li
									ul
										a(href="#") Barcelona
								li
									ul
										a(href="#") Batman
								li
									ul
										a(href="#") Bayern Múnich
								li
									ul
										a(href="#") Bayern Múnich
								li
									ul
										a(href="#") BBVA
								li
									ul
										a(href="#") Xbox
								li
									ul
										a(href="#") BCP
							hr
				.container.block
					.div
						ul
							li.contribution Diarios del PAL:Clarín
						ul
							li.contribution La Tercera
						ul
							li.contribution El Universal Colombia
						ul
							li.contribution El Universal Venezuela
						ul
							li.contribution Vanguardia
						ul
							li.contribution La Prensa
						ul
							li.contribution El Salvador
						ul
							li.contribution La Verdad
						ul
							li.contribution Diario Libre
						ul
							li.contribution El diario de hoy
						ul
							li.contribution El Colombiano