doctype
html
	head
		title La República
		meta( charset="utf-8")
		meta( name="description", content="Baking Bootstrap Snippets with Jade")
		meta(name="viewport" content="with=device-width,initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		link(rel="stylesheet" href="assets/css/dist/bootstrap.min.css")
		link(rel="stylesheet" href="assets/css/dist/bootstrap-theme.min.css")
		link(rel="stylesheet" href="assets/css/dist/slick.css")
		link(rel="stylesheet" href="assets/css/dist/slick-theme.css")
		link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700")
		link(rel="stylesheet" href="assets/css/dist/font-awesome.min.css")
		link(rel="stylesheet" href="assets/css/footer.css")
	body
		footer
			.container
				.row
					.col-md-5.primero(style={ "padding-left": '65px', })
						img(src="assets/image/logo-grupo-la-republica.png")
						h3 Grupo La República Digital
						ul
							li Jr.Camaná 320 Cercado de Lima
							li Teléfono: 711-6000
							li (Central Telefónica)
							li
								small Todos los derechos reservados - 2015
					.col-md-11
							.col-md-4
								ul.aside
									li
										a(href="#") Roger Federer
									li
										a(href="#") SBS
									li
										a(href="#") Scarlett Johansson
									li
										a(href="#") Scotiabank
									li
										a(href="#") Selena Gómez
									li
										a(href="#") Spiderman
									li
										a(href="#") Sporting Cristal
									li
										a(href="#") Sunat
									li
										a(href="#") Telefónica del Perú
									li
										a(href="#") The Walking Dead
									li
										a(href="#") Twitter
									li
										a(href="#") Universidad Cesar Vallejo
									li
										a(href="#") Universidad San Martín
									li
										a(href="#") Universidad de Deportes
									li
										a(href="#") Xbox
									li
										a(href="#") YouTube
									li
										a(href="#") Bayern Múnich
									li
										a(href="#") BBVA
									li
										a(href="#") Xbox
									li
										a(href="#") 
							.col-md-4
								ul(style={ "padding-left": '2px', })
									li
										a(href="#") Al fondo hay sitio
									li
										a(href="#") Alejandro Toledo
									li
										a(href="#") Alianza Lima
									li
										a(href="#") Alianza Lima
									li
										a(href="#") Banco de la Nación
									li
										a(href="#") Barack Obama
									li
										a(href="#") Universidad Cesar
									li
										a(href="#") Vallejo
									li
										a(href="#") Universidad San Martín
									li
										a(href="#") Barcelona
									li
										a(href="#") Bayern Múnich
									li
										a(href="#") Bayern Múnich
									li
										a(href="#") BBVA
									li
										a(href="#") Xbox
									li
										a(href="#") BCP
									li
										a(href="#") Batman
									li
										a(href="#") Bayern Múnich
									li
										a(href="#") Bayern Múnich
									li
										a(href="#") BBVA
									li
										a(href="#") Xbox
									li
										a(href="#") BCP
							.col-md-4
								ul(style={ "padding-left": '2px', })
									li
										a(href="#") One Direction
									li
										a(href="#") ONPE
									li
										a(href="#") Pablo Escobar
									li
										a(href="#") Paolo Guerrero
									li
										a(href="#") Pensión 65
									li
										a(href="#") PNP
									li
										a(href="#") Precio del dólar
									li
										a(href="#") Universidad Cesar Vallejo
									li
										a(href="#") Universidad San Martín
									li
										a(href="#") Premier League
									li
										a(href="#") Bayern Múnich
									li
										a(href="#") Bayern Múnich
									li
										a(href="#") BBVA
									li
										a(href="#") Xbox
									li
										a(href="#") BCP
									li
										a(href="#") Proyecto Conga
									li
										a(href="#") PUCP
									li
										a(href="#") Real Madrid
									li
										a(href="#") Redes Sociales
									li
										a(href="#") Reniec
									li
										a(href="#") Robert Pattinson
							.col-md-4
								ul(style={ "padding-left": '2px', })
									li
										a(href="#") Al fondo hay sitio
									li
										a(href="#") Alejandro Toledo
									li
										a(href="#") Alianza Lima
									li
										a(href="#") Alianza Lima
									li
										a(href="#") Banco de la Nación
									li
										a(href="#") Barack Obama
									li
										a(href="#") Universidad Cesar
									li
										a(href="#") Vallejo
									li
										a(href="#") Bayern Múnich
									li
										a(href="#") Bayern Múnich
									li
										a(href="#") BBVA 
									li
										a(href="#") Xbox
									li
										a(href="#") BCP
									li
										a(href="#") Universidad San Martín
									li
										a(href="#") Barcelona
									li
										a(href="#") Batman
									li
										a(href="#") Bayern Múnich
									li
										a(href="#") Bayern Múnich
									li
										a(href="#") BBVA
									li
										a(href="#") Xbox
									li
										a(href="#") BCP
			hr
			.container
				ul.comentarist
					li
						a(href="#") Diarios del Pal:
					li
						a(href="#") Clarín
					li
						a(href="#") La Tercera
					li
						a(href="#") El Universal Colombia
					li
						a(href="#") El Universal Venezuela
					li
						a(href="#") La Prensa
					li
						a(href="#") El Salvador
					li
						a(href="#") La Verdad
					li
						a(href="#") Diario Libre
					li
						a(href="#") El diario de hoy
					li
						a(href="#") El Colombiano
