doctype
html
	head
		title La República
		meta( charset="utf-8")
		meta( name="description", content="Baking Bootstrap Snippets with Jade")
		meta(name="viewport" content="with=device-width,initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		link(rel="stylesheet" href="assets/css/dist/bootstrap.min.css")
		link(rel="stylesheet" href="assets/css/dist/bootstrap-theme.min.css")
		link(rel="stylesheet" href="assets/css/dist/slick.css")
		link(rel="stylesheet" href="assets/css/dist/slick-theme.css")
		link(rel="stylesheet" href="assets/css/dist/font-awesome.min.css")
		link(rel="stylesheet" href="assets/css/header.css")
	body
		section#header
			header
				.container
					.row
						.col-md-16
							img(src="assets/image/banner_top.jpg")
				.container
					.header-social
						.row
								ul
									li
										a(href="http://www.libero.pe/") LIBERO.PE
									li
										a(href="http://www.elpopular.pe/") ELPOPULAR.PE
									li
										a(href="http://fundacionmohme.org") FUNDACIÓN GUSTAVO MOHME LLONA
									button.pull-right SUSCRÍBETE AL BOLETÍN
									i.fa.fa-facebook
									i.fa.fa-twitter
									i.fa.fa-google-plus
									img.envelope(src="assets/image/sprites/ico-email.png")
									i.fa.fa-rss
									button.search buscar
									i.fa.fa-search 
				.container
					.cont-header
						.row
							.col-md-5
								img.republica(src="assets/image/logo-la-republica.jpg")
							.col-md-5
								.enlace
									p TODO SOBRE LA CHAMPIONS LEAGUE
									.title1 ESPECIAL DE FÚTBOL
							.col-md-5
								img.editorial(src="assets/image/img_editorial_text.jpg")
								.author
									p La corrupción, los orígenes
									p por: Gustavo Mohme Llona
									img.horizont.pull-right(src="assets/image/img_author.jpg")
				.container#politics
					.nav-republica
						ul.menu-rep
							li
								a(href="#") POLÍTICA
							li
								a(href="#") ECONOMÍA
							li
								a(href="#") SOCIEDAD
							li
								a(href="#") ELECC.REGIONALES
							li
								a(href="#") DEPORTES
							li
								a(href="#") CHAMPIONS L.
							li
								a(href="#") ESPECTÁCULOS
							li
								a(href="#") ED.IMPRESA
							li
								a(href="#") REGIONALES
							li
								a(href="#") MÁS SECCIONES
				.container
					img(src="assets/image/banner-header.jpg")
				