mixin profesional(article,imagen,title)
	.col-md-5
		.conteniendo
			span Lunes,14 de julio de 2015
			h4= article
			.contenedor
				.col-md-6
					img.escritor(src=imagen)
				.col-md-10
					h5 BLOG
					h4=title
mixin bloggers(title1,title2, title3)
	.row
		+profesional("El gol de la muerte","assets/image/img_author_columnista.jpg",title1)
		+profesional("Dios ha muerto... tengo las manos cubiertas de sangre","assets/image/blog_avatar_01.jpg",title2)
		+profesional("¿Cuál es tu queso favorito?","assets/image/img_author_columnista.jpg",title3)
mixin articulos
	+bloggers("LIBROS","Ya lo pasado, PASADO","Décimas Cosas")
	+bloggers("Y tú... ¿Ya hiciste click?","Educando con Amor Firme","Moda Ente Tendente")