section.columnista
	.container
		h1.titulo Columnista
		h5 LO ÚLTIMO EN COLUMNISTA
		+description("Tiro al blanco","Cristal de Mira","Jaque Perpetuo")
		+description("Claro y directo","Observador", "Chino de mi barrio")
		+description("Tiro al blanco", " Cristal de Mira", " Jaque Perpetuo")
		.btn.col-md-3 TODAS LAS COLUMNAS
section.all
	.container
		h5 TODOS LOS COLUMNISTAS 
		nav
			ul
				li.active TODOS
				li A B C
				li D E F
				li G H I
				li J K L
				li M N O
				li P Q R S
				li T U V
				li W X Y Z
		
		
