doctype html
html(lang='es-PE')
	head
		meta(charset='UTF-8')
		title Columnistas
		link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', type='text/css', href='assets/css/dist/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='assets/css/dist/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='assets/css/dist/slick.css')
		link(rel='stylesheet', type='text/css', href='assets/css/dist/slick-theme.css')
		script(src='http://code.jquery.com/jquery-1.11.2.min.js')
		script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
		script(type='text/javascript', src='js/bootstrap.min.js')
		script(type='text/javascript', src='js/slick.min.js')
		script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
		script(type='text/javascript', src='js/modernizr.custom.68172.js')
		script(type='text/javascript', src='js/respond.js')
		link(rel='stylesheet', type='text/css', href='assets/css/columnista.css')
	body 
		include ../helpers/mixincolumn
		include ../commons/header
		section.columnista
			.container-fluid
				.col-md-2.publicidad1
				.col-md-12
					h1.titulo1 Columnista 
					h5 LO ÚLTIMO EN COLUMNISTA
						img.arrow(src="assets/image/double-arrow-bottom.png", alt="all the columns")
					+columnistas("Claro y directo","Observador", "Chino de mi barrio")
					+columnistas("Tiro al blanco","Cristal de Mira","Jaque Perpetuo")
					+columnistas("Claro y directo","Observador", "Chino de mi barrio")
					+columnistas("Tiro al blanco", " Cristal de Mira", " Jaque Perpetuo")
					.btn.col-md-3 TODAS LAS COLUMNAS

					.all.col-md-16
						h5 TODOS LOS COLUMNISTAS
							img.arrow(src="assets/image/double-arrow-bottom.png", alt="all the columns") 
						nav.bloques
							ul.slider(id="abc-slick")
								li.all
									a TODOS
								li.active 
									a A B C
								li 
									a D E F
								li 
									a G H I
								li 
									a J K L
								li 
									a M N O
								li 
									a P Q R S
								li 
									a T U V
								li 
									a W X Y Z
						+filacolumnistas 
						+filacolumnistas
						+filacolumnistas
						+filacolumnistas
						+filacolumnistas
						+filacolumnistas
						+filacolumnistas
				.col-md-2.publicidad2
		include ../commons/footer	
	script(src="../assets/js/bootstrap.min.js")
	script(src="../assets/js/jquery.min.js")
	script(src="../assets/js/slick.min.js")
	script(src="../assets/js/columnista.js")
