doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    title Home
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/bootstrap.min.css')
    link(rel="stylesheet" href="assets/css/dist/bootstrap-theme.min.css")
    link(rel='stylesheet', type='text/css', href='assets/css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/slick-theme.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/slick.min.js')
    script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='js/modernizr.custom.68172.js')
    script(type='text/javascript', src='js/respond.js')
    link(rel='stylesheet', type='text/css', href='assets/css/home.css')
    
  body
    include ../helpers/mixinhome.jade
    include ../commons/header
    section(id='home')
        .container-fluid
                .col-md-2.publicidad1
                
                .col-md-12    
                    section(id='portada')
                        .container
                            span Guerra en la municipalidad de lima metropolitana
                            ul 
                                li
                                    a(href='#')
                                        img(src='assets/image/social_sprite.png')
                                li
                                    a(href='#')  Hace 12 minutos
                                li
                                    a(href='#')  POLÍTICA
                    section(id='port')
                        .container      
                            .row
                                .col-md-8
                                    .img1
                                        .shadow
                                            h3 JNE impulsará campaña en favor de la aprobacion de la reforma electoral
                                .col-md-8
                                    .portada
                                        .row.img2
                                            .shadow
                                                h3(class='fs28') Martin Belaunde Lossio:Empresas vinculadas al empresario contrataron por /3.000millones |FOTOS
                                     .portada
                                        .row.img3
                                            .shadow
                                                h3(class='fs28') Sub 20: Perú vs Paraguay:bicolor empato 1-1 y pasó a hexagonal final del Sudamericano |VIDEO
                    section(id='columnist')
                        .container
                            +titulo('COLUMNISTAS')
                            .row
                                .col-md-8
                                    .col-md-5
                                        +columnLlosa
                                    .col-md-5
                                        +columnRodrich
                                    .col-md-5
                                        +columnLlosa
                                .col-md-8
                                    .col-md-5
                                        +columnRodrich
                                    .col-md-5
                                        +columnLlosa
                                    .col-md-5
                                        +columnRodrich
                    section
                        .container
                            .row
                                .col-lg-10
                                    .row
                                        .col-lg-8
                                            .noticiasvariado
                                                h4(class='color-red2') 
                                                    strong Mercado de Pases 2015
                                                .img4
                                                    .shadow
                                                        h4 Mercado de pases 2015: altas, bajas y rumores de los equipos peruanos
                                                h4(class='subt') Todo sobre 
                                                    strong Mercado de Pases 2015
                                             .noticiasvariado
                                                h4(class='color-red2') 
                                                    strong Champions League
                                                .img4
                                                    .shadow
                                                        h4 ¿Podrá el Real Madrid conseguir la "Undécima"?
                                                h4(class='subt') Todo sobre 
                                                    strong Régimen laboral juvenil
                                        .col-lg-8
                                             .noticiasvariado
                                                h4(class='color-red2') 
                                                    strong Régimen laboral juvenil
                                                .img5
                                                    .shadow
                                                        h4 Ollanta Humala: Los que han perdido,más allá de tambores y panderetas,son 2 millones de jovénes |
                                                            a(href='#') VIDEO
                                                h4(class='subt') Todo sobre 
                                                    strong Champions League
                                             .noticiasvariado
                                                h4(class='color-red2') 
                                                    strong Super Bowl
                                                .img5
                                                    .shadow
                                                        h4 Super Bowl XLIX: New England Patriots se consegró campeón la NFL al ganar 28-24 a Seahawks 
                                                            a(href='#') VIDEO
                                                h4(class='subt') Todo sobre 
                                                    strong Super Bowl
                                .col-lg-6.banneraside

                    section(id='noticias')
                        .container
                            h5 ÚLTIMAS NOTICIAS
                                img.arrow(src="assets/image/double-arrow-bottom.png", alt="all the columns") 
                            .row
                                .col-md-10
                                    +noticefour
                                    +noticefour
                                    +noticefour
                                    +noticefour
                                    +noticefour
                                    +noticefour
                                    +noticefour
                                    +noticefour
                                .col-md-6
                                    .suscribete
                                        img(src='assets/image/img_sucribe.png')
                                        br
                                        .formwhite
                                            p Suscríbete a nuestro boletín
                                            input

                                            a(href='#' class='suscribir') Suscribirse
                                    .aweita
                                        a(href='#')
                                            img(src='assets/image/logo_aweita.jpg' class='logo')
                                        
                                        +aweita('0')
                                        +aweita('strong')
                                        +aweita('0')
                                        +aweita('strong')
                                        br
                                        p Más en 
                                            a(href='#') Aweita.pe
                                        .linkaweita
                                    .fotos
                                        +titulo('FOTOS DESTACADAS')
                                        img(src='assets/image/img_fotodes_prominent.jpg')
                                        h4 Líneas de Nasca: admiten prision preventiva de 6meses para activista de Greenpeace |
                                            a(href='#') FOTOS
                                    .fotosdeport
                                        .asas
                                            img(src='assets/image/img_fotodes.jpg')
                                            strong Uchuraccay: El pueblo que recibe con flores a quienes llegan a pie |
                                                a(href='#') FOTOS
                                        br    
                                        .asas
                                            img(src='assets/image/img_fotodes.jpg')
                                            strong Alianza Lima vs Fenix: íntimos ganaron 1-0 en "Noche Blanquizaul" |
                                                a(href='#') VIDEO Y FOTOS
                                        br
                                        .asas
                                            img(src='assets/image/img_fotodes.jpg')
                                            strong Tomas Berdych derrotó 3-0 a Rafael Nadal y avanzó en el Australian Open |
                                                a(href='#') FOTOS
                                    .especiales
                                        +titulo('ESPECIALES')
                                        .descripcion
                                            img(src='assets/image/img_especiales_aside.jpg')
                                            p Régimen laboral juvenil
                                        .descripcion
                                            img(src='assets/image/img_especiales_aside.jpg')
                                            p COP 20
                                        .descripcion
                                            img(src='assets/image/img_especiales_aside.jpg')
                                            p Concentración de Medios
                                        .descripcion
                                            img(src='assets/image/img_especiales_aside.jpg')
                                            p Especies peruanas en peligro de extinción
                                    .carlincatura
                                        +titulo('CARLINCATURA DEL DÍA' , '0')
                                        h4 Carlincaturas 30-01-2015
                                        img(src='assets/image/img_carlincatura_sd.jpg')
                                        h4(class='color-red2') Todas las Carlincaturas
                                    .bloguers
                                        +titulo('NUESTROS BLOGUEROS')
                                        +blog('0')
                                        +blog('1')
                                        +blog('p')
                                        +blog('0')
                                        +blog('1')
                                        +blog('p')
                                        +blog('0')
                                        +blog('1')
                                        h4(class='color-red2') Todos los blogs
                                    .edicion
                                        +titulo('EDICIÓN IMPRESA')
                                        h4 La República-Lima
                                        img(src='assets/image/img_impreso_sd_prominent.jpg')
                                        +notic('Extorsionan a menores en colegios','La República-Norte' ,src="assets/image/img_impreso_sd.jpg")
                                        +notic('Lluvias en Arequipa inundan casas y causan caos en las calles','La República-Sur' ,src="assets/image/img_impreso_sd.jpg")
                                        +notic('Los Ojos de Oblitas','Domingo' ,src="assets/image/img_impreso_sd.jpg")
                                    .especiales
                                        +titulo('INFOGRAFIAS')
                                        .descripcion
                                            img(src='assets/image/img_especiales_aside.jpg')
                                            p Historico cierre de frontera
                                        .descripcion
                                            img(src='assets/image/img_especiales_aside.jpg')
                                            p Evoucion de la pobreza de indigencia en América Latina
                                    .suscribete
                                        img(src='assets/image/img_pregunta.png')
                                        br
                                        .formwhite
                                            strong La pregunta de hoy
                                            p ¿Cree usted que la premier Ana Jara debe renunciar?
                                            .form
                                                .radio
                                                    label
                                                        input(type="radio")
                                                    br
                                                    label
                                                        input(type="radio")
                                            a(href='#' class='suscribir') Votar
                                            p(class='color-red2') Ver resultados  
                                        .formwhite
                                            strong La pregunta de ayer
                                            p ¿Cree usted que se militarizó la conmemoración del fallo de la Haya?
                                            .progress
                                                .progress-bar.progress-bar-success.progress-bar-striped(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
                                                span.sr-only 40% Complete (success)

                                            p(class='color-red2') Ver preguntas pasadas
                                    .edicion(id='sport')
                                        img(src='assets/image/logo_libero.jpg')
                                        +notic('Fiorentina empató 1-1 en su visita al Genoa con gran actuación de Juan Vargas[VIDEO] ','' ,src="assets/image/img_video_destacado.jpg")
                                        +notic('Jefferson Farfán: Schalke 04 tampoco sabe cuándo volverá a las canchas[FOTOS]','' ,src="assets/image/img_video_destacado.jpg")
                                        +notic('Barcelona vs. Villareal:cuales ganaron 3-2 con goles de Lionel Messi y Neymar por Liga BBVA[VIDEO]','' ,src="assets/image/img_video_destacado.jpg")
                                        +notic('Barcelona vs. Villareal:cuales ganaron 3-2 con goles de Lionel Messi y Neymar por Liga BBVA[VIDEO]','' ,src="assets/image/img_video_destacado.jpg")
                                        p Más en
                                            a(href='#' class='color-red2') Libero.pe
                                        .libero
                                    .edicion(id='sport')
                                        img(src='assets/image/logo_popular.jpg')
                                        +notic('Joshua Ivanoff está loco por olor d Melissa Loza ','' ,src="assets/image/fotogaleria_col01_01.jpg")
                                        +notic('Corinthias:Paolo Guerrero dedica su gol a Alondra García','' ,src="assets/image/fotogaleria_col01_01.jpg")
                                        +notic('Angie Arizaga es amenzada de muerte[VIDEO]','' ,src="assets/image/fotogaleria_col01_01.jpg")
                                        +notic('Philip Seymour Hoffman:Un año sin el premiado actor(VIDEO)','' ,src="assets/image/fotogaleria_col01_01.jpg")
                                        p Más en
                                            a(href='#' class='color-red2') elPopular.pe
                                        .libero
                                     .edicion(id='sport')
                                        img(src='assets/image/logo_wapa.jpg')
                                        +notic('¿Cómo renovar el guardarropa de los mas pequeños en este verano ','' ,src="assets/image/fotogaleria_col01_01.jpg")
                                        +notic('Shakira y Piqué ¡Ya son padres por segunda vez','' ,src="assets/image/fotogaleria_col01_01.jpg")
                                        +notic('Ted 2:Mira el trailer de la cinta','' ,src="assets/image/fotogaleria_col01_01.jpg")
                                        +notic('Como usar zapatos altos sin dolor','' ,src="assets/image/fotogaleria_col01_01.jpg")
                                        p Más en
                                            a(href='#' class='color-red2') Wapa.pe
                                        .libero
                                    .suscribete
                                        img(src='assets/image/img_sucribe.png')
                                        br
                                            
                                        .formwhite(id='reporte')
                                            .imgre
                                                
                                            strong Reporte ciudadno
                                            p ¿Está permitido que dejen su auto en reiteras ocasiones toda la noche en la puerta de tu casa? PlacaDG6232, eso que antes lo dejaba entre la vereda y mi puerta
                                            
                                        
                                       

                                        

                .col-md-2.publicidad1
    //escribe tu código html aquí  
