span{
    font-size: 5.6rem;
    font-family: "Open Sans", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h5{
    font-family: "Oswald","Helvetica",Arial,sans-serif;
}
footer{
    p{
        font-family:"PT Sans","Helvetica",Arial,sans-serif;
    }
}
