span{
    font-family: 'Open Sans Regular';
    }
p{
    font-family: "Open Sans","Helvetica",Arial,sans-serif;
}
h5{
    font-family: "Oswald","Helvetica",Arial,sans-serif;}
footer{
    p
    {font-family:"PT Sans","Helvetica",Arial,sans-serif;}
}
